@model Infraestructure.Models.AreaComun

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de @Html.DisplayFor(model => model.Descripcion)</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-lg">
            @Html.DisplayFor(model => model.foto)
        </div>
        <div class="col-lg">
            <dl class="dl-horizontal">
                <br />
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.HoraInicio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HoraInicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HoraFin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HoraFin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TarifaPorHora)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TarifaPorHora)
                </dd>
            </dl>
        </div>
    </div>
    
</div>
<br />
<p>
    <a style="background:rgb(159, 126, 0)" href="@Url.Action("Index", "AreaComun")" class="btn btn-secondary"><i class="fa-solid fa-door-open"></i> Regresar</a>
</p>