@model Infraestructure.Models.Avisos

@{
    ViewBag.Title = "Crear Aviso";
}
@if (ViewBag.active)
{
    <h2 style="text-align:center"> Crear Avisos</h2>
}
else
{
    <h2 style="text-align:center">Crear Incidencias</h2>
}


@using (Html.BeginForm("Save", "Aviso", new {activo= ViewBag.active},FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken() <div class="form-horizontal">

    @if (ViewBag.active)
    {
        <!--INFORMACION-->
        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.EstadoTipoInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoTipoInfo", (SelectList)ViewBag.listaTipoInfo, "Seleccione el tipo de información...", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" class="form-control" required />
            </div>
        </div>

    }
    else
    {
        //INCIDENCIA
        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUsuario",
               (SelectList)ViewBag.listaUsuarios, "Seleccione su nombre...",
               htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "resizer" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" class="form-control" required />
            </div>
        </div>

    }

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" style="color:green" />
        </div>
    </div>
</div>
}


<br />
<p>
    <a style="background:rgb(159, 126, 0)" href="@Url.Action("Index", "Aviso", new { active = ViewBag.active })" class="btn btn-secondary"><i class="fa-solid fa-door-open"></i> Regresar</a>
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
