@model Infraestructure.Models.Avisos

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Aviso</h2>


@using (Html.BeginForm("Save", "Aviso", new { activo = ViewBag.active }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()<div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.TipoAviso)
        @Html.HiddenFor(model => model.idUsuario)
        @Html.HiddenFor(model => model.Estado)

        @if (ViewBag.active)
        {
            <!-- ACTIVE ES TRUE SIRVE PARA INFORMACIÓN-->
            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "resizer" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" accept="application/pdf,image/*" name="ImageFile" class="form-control" required />
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file"
                               accept="application/pdf,image/*"
                               src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.Documento)"
                               id="DocumentoAviso"
                               style="height:75px;width:75px" />
                        @Html.HiddenFor(model => model.Documento)
                    </div>
                </div>*@
        

        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" style="color:green" />
            </div>
        </div>
    </div>
}


<br />
<p>
    <a style="background:rgb(159, 126, 0)" href="@Url.Action("Index", "Aviso", new { active = ViewBag.active })" class="btn btn-secondary"><i class="fa-solid fa-door-open"></i> Regresar</a>
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
