@model IEnumerable<Infraestructure.Models.Avisos>

@{
    ViewBag.Title = "Información";
}

<h2 style="text-align:center">Información del Condominio</h2>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (@Html.DisplayFor(modelItem => item.EstadoTipoInfo).Equals("Noticias"))
            { 
                <div class="carousel-item active">
                    @if (item.Documento != null)
                    {
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Documento)" alt="@Html.DisplayFor(modelItem => item.Descripcion)" class="d-block w-100" style="width:300px" />
                    }
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Fecha)</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

<br/><br />

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (@Html.DisplayFor(modelItem => item.EstadoTipoInfo).Equals("Avisos"))
            {
                <div class="carousel-item active">
                    @if (item.Documento != null)
                    {
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Documento)" alt="@Html.DisplayFor(modelItem => item.Descripcion)" class="d-block w-100" style="width:300px" />
                    }
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Fecha)</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

<br /><br />

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (@Html.DisplayFor(modelItem => item.EstadoTipoInfo).Equals("Archivos Documentales"))
            {
                <div class="carousel-item active">
                    @if (item.Documento != null)
                    {
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Documento)" alt="@Html.DisplayFor(modelItem => item.Descripcion)" class="d-block w-100" style="width:300px" />
                    }
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Fecha)</p>
                    </div>
                </div>
            }
        }
    </div>
</div>