@model IEnumerable<Infraestructure.Models.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Listado de Usuarios</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a style="background:rgb(159, 126, 0)" onclick="detalle(@item.Id)" class="btn btn-secondary"><i class="fa-solid fa-pen"></i> Deshabilitar</a>
                <a style="background:rgb(159, 126, 0)" href="@Url.Action("Details", "Usuario", new { id = item.Id })" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i> Detalle</a>
            </td>
        </tr>
    }

</table>
<br />
<p>
    <a style="background:rgb(159, 126, 0)" href="@Url.Action("Create", "Usuario")" class="btn btn-secondary"><i class="fa-solid fa-square-plus"></i> Crear</a>
</p>

<script type="text/javascript">
    function detalle(id) {
        $.ajax({
            method: 'POST',
            url: '/Usuario/CambiarEstado',
            data: { 'id': id },
            success: function (response) {
                $('.modal-body').html('');
                $('.modal-body').html(response);
                $('#myModal').modal('show');
            }, error: function (xhr, status, error) {
                console.log('Error' + error + ',No Error' + xhr.status);
            }
        })
    }
</script>