<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="~/Content/LOGO.png" height="50" />
        
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "dropdown-item" })
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Avisos</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Ver Avisos", "Create", "Asignacion", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Crear un Aviso", "Create", "Asignacion", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Planes de Cobro", "Index", "Plan", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Residencias", "Index", "Residencia", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Usuarios", "Index", "Usuario", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Asignación y Pago</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Asignaciones", "Index", "Asignacion", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Por modificar...</a>
                    </div>
                </li>
                <li class="nav-item dropdown" style="float:right">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Index","Login")">
                            <i class="fa-solid fa-user-plus"></i> Login
                        </a>
                        <a class="dropdown-item"
                           href="@Url.Action("Logout","Login")">
                            <i class="fa-solid fa-user-minus"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
