<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="~/Content/LOGO.png" height="50" />

        @* Información usuario *@
        @{
            int cedula = 0;
            String email = "Perfil";

            if (Session["User"] != null)
            {
                Infraestructure.Models.Usuario usuario = new Infraestructure.Models.Usuario();
                usuario = (Infraestructure.Models.Usuario)Session["User"];
                cedula = usuario.Id;
                email = usuario.Email;
            }
        }

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "IndexUsuario", "Aviso", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Áreas Comunes", "Index", "AreaComun", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Avisos</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Ver Avisos", "Index", "Aviso", new { active = true }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Crear un Aviso", "Create", "Aviso", new { active = true }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Ver Incidencias", "Index", "Aviso", new { active = false }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Crear una Incidencia", "Create", "Aviso", new { active = false }, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Rubros de Cobro", "Index", "Rubro", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Planes de Cobro", "Index", "Plan", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Asignaciones", "Index", "Asignacion", new { fecha = default(DateTime) }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Residencias", "Index", "Residencia", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Visitantes", "Index", "Visitante", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Usuarios", "Index", "Usuario", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Reservas", "Index", "Reserva", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Reportes", "", "", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pagos y Reservas</a>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Ver Asignaciones", "Index", "Asignacion", new { fecha = default(DateTime) }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Asignar Plan", "Create", "Asignacion", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Ver Reservas", "Index", "Reserva", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Aceptar Reservas", "IndexAdmin", "Reserva", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Reportes", "", "", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown" style="text-align:right">

                    @if (Session["User"] != null)
                    {
                       
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa-solid fa-user"></i>@email</a>
                        <div class="dropdown-menu">
                            <div style="text-align:center">

                                <i class="fa-solid fa-user-minus"></i> @Html.ActionLink(" Cerrar Sesión", "Logout", "Login", null, new { @class = "dropdown-item" })
                            </div>
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Información de la Cuenta", "Details", "Usuario", new { id = cedula }, new { @class = "dropdown-item" })
                        </div>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
                        <div class="dropdown-menu">
                            <div style="text-align:center">


                                <i class="fa-solid fa-user-plus"></i> @Html.ActionLink(" Iniciar Sesión", "Index", "Login", null, new { @class = "dropdown-item" })
                                <i class="fa-solid fa-user-minus"></i> @Html.ActionLink(" Cerrar Sesión", "Logout", "Login", null, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    }


                </li>
            </ul>

        </div>
    </div>
</nav>
